= render :partial => 'menubars/menubar_contact'
%article.contact
	%h1#centered CONTACT
	%p#padding2
		Books on Rails is a web application where you can assist and create physical book enchanging meeting for librophiles all over the world. You can also manage your own collection of books while collaborating on the website catalog. 

	%p#padding2	
		This Web application is the result of an End of Degree Work (TFG). It was made by the Alfonso Peralta Calvo (student of Computer Engineering at University of Valladolid) and under the supervision of Yania Crespo González-Carvajal (Phd Professor of the University of Valladolid).

		%ul#details
			%li#padding2
				Developer's email:  
				=mail_to("fosiperalta@gmail.com")
			%li#padding2
				Developer's twitter:  
				=link_to "@fosiperalta", "http://twitter.com/fosiperalta"
			%li#padding2
				Developer's phone:  +34 660812332
			%br
			%li#padding2
				Supervisor's email:  
				=mail_to("yania@infor.uva.es")