=render :partial => 'menubars/menubar_meetings'
%article.content
	%h1#centered MEETINGS
	%h2#alinea10ypadding2 Edit Meeting

	=form_tag meeting_path(@meeting), :method => :put do
		#alinea10ypadding2= render :partial => 'meeting_form'
		%br
		#alinea10ypadding2= submit_tag 'Save Changes'