
html, body {
  margin: 0%;
  padding: 0;
  background:url('bg.jpg') repeat-y;
  color: rgb(30,30,30);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 11pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  margin: 0px;
  background: transparent;
  color: rgb(45,45,45);
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: rgb(76,56,65);
  display: block;
  width: 100%;
  font:150% "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
.tip{
  color:grey;
}

table#books {
  margin-left: 10%;
  margin-right: 10%;
  border-collapse: collapse;
  width: 80%;
  border: 2px solid black;
  border-bottom: 2px solid black;
}
table#books th {
  border: 2px solid black;
  font-weight: bold;
  background-color: rgba(201,171,155,0.8);
  text-align: center;
}
table#books th, table#books td {
  padding: 4px;
  text-align: left;
}
table#books td {
  background-color: rgba(241,221,205,0.2);
  border-right: 2px solid black;
}
table#menubar {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px rgb(45,45,45);
}
table#menubar th {
  text-decoration: none;
  color: #FF0000;
}
tr#creator {
  font-weight: bold;
  color: green;
}
tr#taken {
  background: rgba(175,238,238,0.7);
}
tr#nottaken {
  background: rgba(255,239,213,0.7);
}
#warning {
  background: rgb(254,129,148);
  margin: 1em 0;
  padding: 4px;
  margin-left: 10%;
  margin-right: 10%;
}

#notice {
  background: PaleGreen;
  margin: 1em 0;
  padding: 4px;
  margin-left: 10%;
  margin-right: 10%;

}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

/* Generated via www.cssmenubuilder.com */
.logo{
  width:30%;
  float:left;
  padding:0;
  height:50px;
  margin:0 auto; 

}

.menu{
  text-align: center;
  margin:0 auto; 
  padding:0; 
  height:50px; 
  width:70%;
  margin-right: 0%;
  display:block; 
  background:url('topMenuImages.png') repeat-x;
}
.menu li{
  padding:0; 
  margin:0; 
  list-style:none; 
  display:inline;
}
.menu li a{
  margin-right:2%;
  float:right; 
  padding-left:1%;
  padding-right:1%;
  display:block; 
  color:rgb(255,255,255); 
  text-decoration:none;
  font:14px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  cursor:pointer; 
  background:url('topMenuImages.png') 0px -30px no-repeat;
}
.menu li a span{
  line-height:50px; 
  float:left; 
  display:block; 
  padding-right:0px; 
  background:url('topMenuImages.png') 
  100% -30px no-repeat;
}
.menu li a:hover{
  background-position:0px -60px; 
  color:rgb(250,140,5);
  background:url('topMenuImages.png') 0px -70px no-repeat; 
  color:rgb(255,255,255);

}
.menu li a:hover span{
  background-position:100% -60px;
  color:rgb(250,140,5);
  background:url('topMenuImages.png') 100% -70px no-repeat;
}
.menu li a.active{
  line-height:30px; 
  font:14px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background:url('topMenuImages.png') 0px -70px no-repeat; 
  color:rgb(255,255,255);
}
.menu li a.active:hover{
  color:rgb(250,140,5);
}
.menu li a.active span, .menu li a.active:hover span{
  background:url('topMenuImages.png') 100% -70px no-repeat;
}

.signin{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50px;
  background:url("pat2.png"), repeat;
  padding-bottom: 15px;
  padding-top: 1px;
  border: 2px solid black;
}
#sigin_input{
  margin-left: 10%;
  height: 20px;
  width: 200px;
  padding:3px;
}
#signin_button{
  margin-left: 10%;
  padding:3px;
}
.home{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  background:url("pat2.png"), repeat;
  padding-bottom: 15px;
  padding-top: 1px;
  border: 2px solid black;
  padding-left: 10%;
  padding-right: 10%;
}
#centered {
 text-align: center;
}
input[type=submit]{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
input[type=text]{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
input[type=password]{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.content{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  background:url("pat2.png"), repeat;
  padding-bottom: 20px;
  padding-top: 1px;
  padding-left: 1%;
}
#alinea10{
  margin-left: 10%;
}
#padding2{
  padding: 2px;
}
#alinea10ypadding2{
  margin-left: 10%;
  padding: 2px;
}

.contact{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  background:url("pat2.png"), repeat;
  padding-bottom: 15px;
  padding-top: 1px;
  border: 2px solid black;
  padding-left: 10%;
  padding-right: 10%;
}